<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <a
      href="#"
      class="list-group-item clearfix"
      *ngFor="let localRecipe of recipes">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{localRecipe.name}}</h4>
        <p class="list-group-item-text">{{localRecipe.name}}</p>
      </div>
      <span class="pull-right">
        <img
          [src]="localRecipe.imagePath"
          alt="{{localRecipe.name}}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
    </a>
    <hr style="height: 2px;">
    <a
      href="#"
      class="list-group-item clearfix"
      *ngFor="let localRecipe of recipes">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{localRecipe.name}}</h4>
        <p class="list-group-item-text">{{localRecipe.name}}</p>
      </div>
      <span class="pull-right">
        <img
          [src]="localRecipe.imagePath"
          alt="{{localRecipe.name}}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>


